@media screen and (min-width: 768px) {
  #container {
    height: 100%;
    justify-content: center;
  }
}
main {
  vertical-align: center;

}

section {
  height: auto;
  /* width: 90%; */
  position: relative;
  margin-top: 0;
  display: flex;
  vertical-align: center;
  padding: 0;
  /* justify-content: space-between;
  align-items: center; */
}

#container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  background-image: url(background.png);
  background-size: cover;
  /* top: 3rem; */
  min-height: 100%; 
}

header {
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 2rem;
  width: 100%;
  margin: 0;
}

footer {
  margin-top: 2rem;
}

#logoplaceholder {
  height: 1.6rem;
  width: fit-content;
  min-width: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.6rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 0 rem;
  right: 1 rem;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #333;
  
}

.line2 {
  display: block;
  border: .2rem solid #2c9f6f;
  border-radius: 10px;
  margin: 1rem 43%;
}

#aboutme {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: fit-content;
  width: 80%;
  margin: 2rem 10%; 
}

h1 {
  /* margin-top: 2rem; */
  font-family: Inter, sans-serif;
  margin-bottom: 0;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  padding: 0 10px;
  color: #172b4d;
  width: 80%;
  /* top: 3rem; */
  margin: 10%;
}

p {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 0;
  color: #172b4d;
  line-height: 28px;
}

.job {
  color: #36b37e;
  font-size: 2.4rem;
  padding: 0;
  width: 90%;
}

.icon-bar {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  /* vertical-align: center; */
  /* background-color: aqua; */
}

a {
  text-decoration: none;
  margin-top: 0;
  
}

.iconan{
    padding: 0 0.8rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  /* transition: transform 0.2s ease-in-out; */
  /* display: inline-block; */
}

i:hover {
  filter: brightness(80%);
}


#work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-top: 300px solid #d2d2d2;
  border-radius: 20px;
  /* padding: 20px; */
  margin: 1rem 1rem;
  text-align: center;
}

#topic {
  width: 100%;
}

/* .image {
  border: 7rem solid #d2d2d2;
  border-radius: 15% 15% 0 0;
  display: flex;
  height: 50%;
 } */

h3 {
  /* stylelint-disable-next-line value-list-comma-space-after */
  font-family: Poppins,sans-serif;
  font-weight: 500px;
  /* font-size: 24px;
  line-height: 32px; */
  line-height: 2rem;
  text-align: center;
  /* Vertical-align: center; */
  color: #172B4D;
 }

 .tags {
  min-width: fit-content;
 /* margin: 0 0.5rem; */
  padding: 0.3rem;
  border: none;
  margin: 0 auto;

}

button {
  border: none;
  padding: 0.5rem;
  font-family: Inter, sans-serif;
  color: #3a4a42;
}

.see_project {
  /* display: flex; */
  background-color: #2aa874;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem auto;
  font-family: Inter, sans-serif;
  color: #d2d2d2;
  border-radius: 5px;
}

.project-ancor {
  padding: 1rem 1rem;
  height: 2rem;
  margin-bottom: 2rem;
}